import os

# Mengambil token dari Environment Variable sistem
# Jika tidak ditemukan, nilainya akan None
TELEGRAM_TOKEN = os.getenv("TELEGRAM_TOKEN")

if not TELEGRAM_TOKEN:
    print("Error: TELEGRAM_TOKEN tidak ditemukan di Environment Variables!")
    exit(1)

# Gunakan TELEGRAM_TOKEN di sini untuk menjalankan bot Anda
# Contoh: bot = TeleBot(TELEGRAM_TOKEN)
